<!DOCTYPE html>

<html>

<head>

<title>
Admin Dashboard
</title>


<link rel="stylesheet"
href="{{url_for('static',
filename='style.css')}}">


</head>


<body>


<h1>
🩺 MediBot Admin Panel
</h1>


<div class="admin-grid">


<div class="admin-card">

<h2>
👥
</h2>

<p>
Manage Users
</p>

</div>



<div class="admin-card">

<h2>
🩺
</h2>

<p>
Manage Diseases
</p>

</div>




<div class="admin-card">

<h2>
💊
</h2>

<p>
Manage Medicines
</p>

</div>




<div class="admin-card">

<h2>
📊
</h2>

<p>
Analytics
</p>

</div>


</div>


</body>

</html>